body {
 text-align: center;
 background-color: #222;
 color: white;
}
button{
outline: none;
height: 40px;
width: 80px;
font-size: 20px;
border: 1px solid aqua;
background-color: transparent;
color: white;
border-radius: 20px;
}
#main {
 border: 1px solid aqua;
 padding: 10px;
 box-shadow: 0px 0px 20px aqua;
 border-radius: 20px;
}
#head{
border-bottom: 1px solid aqua;
border-left: 1px solid aqua;
background-color: #333;
}
#btnarea{
border-bottom: 1px solid aqua;
}
button:hover{
outline: none;
height: 40px;
width: 80px;
font-size: 20px;
border: 1px solid transparent;
background-color: aqua;
color: black;
border-radius: 20px;
box-shadow: 0px 0px 20px aqua;
}
